<div class="col-xs-12">
  <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand">Items</a>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th *ngFor="let category of itemCategory">
              {{category}}
            </th>
            <td><button (click)="addCategory()" class="btn btn-primary">Add Category</button></td>
          </tr>
        </thead>
        <tbody *ngFor="let item of localItems">
          <tr>
            <td>
              <input class="form-control" type="text" name="cat{{item.id}}" #Category="ngModel" [(ngModel)]="item.name">
            </td>
            <td colspan="5"></td>
            <td>
              <button (click)="addItem(item)" class="btn btn-primary">Add Item</button>
              <button [disabled]="localItems.length <= 1" (click)="removeCategory(item)" class="btn btn-danger">Remove
                Category</button>
            </td>
          </tr>
          <tr *ngFor="let items of item['items']; let i = index">
            <td></td>
            <td>
              <input class="form-control" type="text" name="item{{items.id}}" #Items="ngModel" [(ngModel)]="items.name">
            </td>
            <td>
              <input class="form-control" type="text" name="GLCode{{items.id}}" #GLCode="ngModel"
                [(ngModel)]="items.GLCode" (ngModelChange)="getTotal(false)">
            </td>
            <td>
              <input  class="form-control" type="text" name="amount{{items.id}}" #amount="ngModel"
               [(ngModel)]="items.amount" (ngModelChange)="getTotal(true)" >
            </td>
            <td>
              <select class="form-control" type="text" name="salesTax{{items.id}}"  [(ngModel)]="items.salesTax"
                #salesTax="ngModel" (ngModelChange)="getTotal(false)">
                <option *ngFor="let tax of salectedTax" [ngValue]="tax">
                  {{tax.title}}
                </option>
              </select>
              {{items.salesTax.value | currency}}
            </td>
            <td>
              {{+items.GLCode * +items.amount + +items.salesTax.value | currency}}
            </td>
            <td>
              <button (click)="removeItem(item, i)" [disabled]="item['items'].length <= 1"
                class="btn btn-danger">Remove</button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2"></td>
            <th>
              Total
            </th>
            <th>
              {{totalAmount}}
            </th>
            <th>
              {{totalSum | currency}}
            </th>
            <th>
              {{totalSum + totalAmount | currency}}
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
    <button (click)="onSubmit(myForm.value)" style="width: 100vw;" class="btn btn-success">Submit</button><br>
  <div *ngIf="flag">
    {{myForm.value | json}}
  </div>
  </form>
</div>